@charset "utf-8";

body {

    font-family: sans-serif;
}

.bkg {
    width: 100%;
}

.content {
    vertical-align: middle;
    margin-top: 15%;
    margin-left: 5%;
    width: 50%;
    height: 65%;
    position: fixed;
}

.middle {
    height: 600px;
    text-align: center;
    margin-top: 20%;
    vertical-align: middle;
}
