<table class="contact hidden">
  <tr>
    <td colspan=2>
      <font class="name">Sławomir Kruk</font>
      <br/><br/>
    </td>
  </tr>
  <tr>
    <td class="first">adres</td><td class="second">ul. Jagodowa 1</td>
  </tr>
  <tr>
    <td class="first"></td><td class="second">32-551 Babice</td>
  </tr>
  <tr>
    <td class="empty" colspan=2>&nbsp;</td>
  </tr>
  <tr>
    <td class="first">e-mail</td><td class="second"><script>poczta("kruk")</script></td>
  </tr>
  <tr>
    <td class="first">telefon</td><td class="second">+48 503 106 305</td>
  </tr>
  <tr>
    <td class="first">fax</td><td class="second">+48 32 620 01 08</td>
  </tr>
  <tr>
    <td class="empty" colspan=2>&nbsp;</td>
  </tr>
  <tr>
    <td class="first">NIP</td><td class="second">628-159-43-64</td>
  </tr>
</table>
</div>
