<table class="offer">
  <tr>
    <td>
      <font class="quote">Dobre zarządzanie biznesem to zarządzanie jego przyszłością, a zarządzanie przyszłością to zarządzanie informacją.</font>
      <font class="author">Marion Harper</font>
      <br><br>
    </td>
  <tr><td>
      <font class="header">Doradztwo Biznesowe Sławomir Kruk</font> – od 1990 roku zajmuję się prywatyzacją spółek, tworzeniem nowych podmiotów, zarządzaniem spółkami, restrukturyzacją, rozwojem, a w szczególności zarządzaniem finansami.
  </td></tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td><font class="header">Zespół</font> – Charakter doradztwa dostosowuję do potrzeb konkretnego klienta uwzględniając branżę, w której działa. Zespół doradców organizuję indywidualnie dla każdego projektu, skupiając doświadczonych finansistów, informatyków, menadżerów, trenerów biznesu i prawników.
  </td></tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td>
      <font class="header">Oferta</font> 
      <ul>
	<li>analizy finansowe firm dla banków, inwestorów zewnętrznych, inwestorów strategicznych, kontrahentów</li>
	<li>biznes plany dla banków, inwestorów, dla celów pozyskania dotacji UE </li>
	<li>sporządzanie analiz due diligence</li>
	<li>wyceny spółek,</li>
	<li>wdrażanie systemów controllingowych – Business Intelligence Controlling,</li>
	<li>pomoc przy restrukturyzacji firmy,</li>
	<li>pomoc przy przekształcaniu firmy,</li>
	<li>współpraca przy opracowywaniu programów naprawczych,</li>
	<li>współpraca przy opracowywaniu programów układowych z wierzycielami,</li>
	<li>współpraca przy tworzeniu nowej firmy,</li>
      </ul>
      Nasza współpraca ma charakter zadaniowy, co pozwala realizować projekty na wysokim poziomie profesjonalizmu, bez potrzeby wiązania się stałymi umowami. 
</td></tr></table>
